<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>e-commerce</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <!-- need import that websocket cdn -->
  <script defer src="script.js"></script>
</head>


<body>

  socket io here

  
</body>
</html>