<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>



  <body>
    <form method="post" action="/">
      Handphone:<br>
      <input type="text" name="username" value="<%= handphone %>"><br>
      Password:<br>
      <input type="password" name="password"><br><br>
      <button type="submit"> Log in </button>
    </form>
    <hr>
    
    <form method="post" action="/OTP">
      Send OTP:<br>
      <input type="text" name="handphone"><br>
      <button type="submit"> Send OTP </button>
    </form>
    <br> <hr> <br>


    <a href='/register'>register</a> 



  </body>
</html>

  <!-- <a href="/  %= room %>">Join</a> -->
 